@use "sass:map";

@mixin flex($alignItem, $justifyContent) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: $alignItem;
    justify-content: $justifyContent;
}

@mixin d-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin centered() {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@mixin center($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

$breakpoints: (
    "sm": 575px,
    "md": 767px,
    "lg": 991px,
    "llg": 1024px,
    "xl": 1149px,
    "xxl": 1440px,
    "xxxl": 1599px,
    "full": 1920px,
);

$breakpoints-min: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "llg": 1025px,
    "xl": 1150px,
    "xxl": 1441px,
    "xxxl": 1600px,
    "full": 1921px,
);

@mixin res($size, $type: max) {
    $breakpoint: if(
        $type==min,
        map.get($breakpoints-min, $size),
        map.get($breakpoints, $size)
    );

    @if $breakpoint {
        @if $type==max {
            @media (max-width: $breakpoint) {
                @content;
            }
        } @else if $type==min {
            @media (min-width: $breakpoint) {
                @content;
            }
        }
    }
}

// --------------------------

@mixin transition1() {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
@mixin transition2() {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
@mixin transition3() {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@mixin transition4() {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
@mixin transition5() {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
